{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!--================Home Banner Area =================-->
    <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="container">
          <div class="banner_content d-md-flex justify-content-between align-items-center">
            <div class="mb-3 mb-md-0">
              <h2>Product Checkout</h2>
              <p>Very us move be blessed multiply night</p>
            </div>
            <div class="page_link">
              <a href="{% url 'shop:index' %}">Home</a>
              <a href="{% url 'order:checkout' %}">Product Checkout</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================Checkout Area =================-->
    <section class="checkout_area section_gap">
      <div class="container">
        <!-- ================== Form======================= -->
        <div class="billing_details">
          <div class="row">
            <div class="col-lg-8">
              <h3>Billing Details</h3>
              <form class="row contact_form" method="POST">
                {% csrf_token %}
                <div class="col-md-12 form-group p_star">
                  <!-- <input type="text" class="form-control" id="add1" name="add1"/> -->
                  {{form.shipping_address}}
                  <span class="placeholder" data-placeholder="Address line 01"></span>
                </div>
                <div class="col-md-12 form-group p_star">
                  <!-- <input type="text" class="form-control" id="add2" name="add2"/> -->
                  {{form.apartment_address}}
                  <span class="placeholder" data-placeholder="Address line 02"></span>
                </div>
                <div class="col-md-6 form-group p_star">
                  <!-- <select class="country_select">
                    <option value="1">Country</option>
                    <option value="2">Country</option>
                    <option value="4">Country</option>
                  </select> -->
                  {{form.country}}
                  <!-- <div class="invali-feedback">
                    Please select a valid country.
                  </div> -->
                </div>
                <div class="col-md-12 form-group p_star">
                  <!-- <input type="text" class="form-control" id="city" name="city"/> -->
                  {{form.city}}
                  <span class="placeholder" data-placeholder="Town/City"></span>
                </div>
                <div class="col-md-12 form-group p_star">
                  <!-- <input type="text" class="form-control" id="number" name="number"/> -->
                  {{form.number}}
                  <span class="placeholder" data-placeholder="Phone number"></span>
                </div>
                <div class="col-md-12 form-group">
                  <!-- <input type="text" class="form-control" id="zip" name="zip" placeholder="Postcode/ZIP"/> -->
                  {{form.zip}}
                </div>
                <div class="col-md-12 form-group">
                  <div class="creat_account">
                    <h3>Shipping Details</h3>
                    <div class="">
                      <input {% if form.same_shipping_address.value %}checked{% endif %} type="checkbox" id="f-option3" name="selector" />
                      <label for="f-option3">Shipping address is the same as Billing Address?</label>
                    </div>
                    <div class="">
                      <input {% if form.save_info.value %}checked{% endif %} type="checkbox" id="f-option3" name="selector" />
                      <label for="f-option3">Save this infomation for next time</label>
                    </div>
                  </div>

                  <div class="payment_item">
                    {% for value, name in form.fields.payment_option.choices %}
                    <div class="radion_btn">
                      <input type="radio" id="{{name}}" name="selector" value="{{value}}" required/>
                      <label for="{{name}}">{{name}}</label>
                      <div class="check"></div>
                    </div>
                    {% endfor %}
                  </div>
                  <button class="main_btn btn-success btn-lg btn-block" type="submit">Proceed to Payment</button>
                </div>
              </form>
            </div>
            <div class="col-lg-4">
              <div class="order_box">
                <h2>Your Order</h2>
                <ul class="list">
                  <li>
                    <a href="#"
                      >Product
                      <span>Total</span>
                    </a>
                  </li>
                  {% for order_item in order.items.all %}
                  <li>
                    <a href="#">{{ order_item.item.name }}
                      <span class="middle">x {{ order_item.quantity }}</span>
                      <span class="last">${{order_item.get_final_price }}</span>
                    </a>
                  </li>
                  {% endfor %}
                  {% if order.coupon %}
                  <li>
                    <a class="text-success">Promo code
                      <span class="last">${{ order.coupon.amount }}</span>
                    </a>
                    <span class="my-0">{{ order.coupon.code }}</span>
                  </li>
                  {% endif %}
                </ul>
                <ul class="list list_2">
                  <li>
                    <a href="#">Subtotal
                      <span>${{ order.get_total }}</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">Shipping
                      <span>Flat rate: $50.00</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">Total
                      <span>$2210.00</span>
                    </a>
                  </li>
                </ul>
                <div>
                  <form class="row contact_form" action="{% url 'order:add-coupon' %}" method="POST">
                    {% csrf_token %}
                    <!-- <input type="text" placeholder="Coupon Code" /> -->
                    {{couponform.code}}
                    <button class="main_btn btn-sm type="submit" name="button">Apply</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End Checkout Area =================-->

    <!--================ start footer Area  =================-->
    {% include 'footer.html' %}
    <!--================ End footer Area  =================-->

    <!-- Optional JavaScript -->

{% endblock content %}
